<h1>Create a new Manager Profile Below:</h1>
  <%= render 'manager' %>
  <%= link_to "Sign in with Github", "/auth/github" %>
    <div class="fields_with_errors">
      <% if flash[:message] %>
        <%= flash[:message] %>
      <% end %>
    </div>
