<h1>Client Details Below:</h1>

<h2><%= @client.name %></h2>
  <h4>Completed Projects:</h4>
    <ul>
      <% @client.completed_projects.each do |project| %>
        <li> <%= link_to project.name, project_path(project) %> </li>
      <% end %>
    </ul>
    <h4>Uncompleted Projects:</h4>
      <ul>
        <% @client.uncompleted_projects.each do |project| %>
          <li> <%= link_to project.name, project_path(project) %> </li>
        <% end %>
      </ul>
<%binding.pry%>
    <%= link_to_if(logged_in?, 'Create New Project', new_project_path) %>
