

<h2><%= @client.name %></h2>
  <h4>Projects:</h4>
    <ul>
      <% @client.projects.each do |project| %>
        <li> <%= link_to project.name, project_path(project) %> </li>
      <% end %>
    </ul>
