<h1>Completed Project</h1>
  <ul>
      <%@completed_projects.each do |project| %>
        <li><%project.id%> <%= project.name %></li>
          <div id="Info">
            Give extra details when clicked project req
          </div>
      <%end%>
  </ul>
