<h1>Welcome!  </h1>

<% if @manager == nil %>
<%= link_to 'Manager Sign Up', new_manager_path %><br><br>
<%= link_to 'Manager Log In', '/login', method: :create %><br><br>

<% end %>
  <%= button_to 'Client Roster', clients_path, :method => :get %>
