<!DOCTYPE html>
<html>
<head>
  <% if session[:manager_id] %>
  <%= link_to  'Log Out', logout_path, method: :delete %>
  <%= link_to 'Home', '/' %>
  <%end%>
</head>
<body>

<%= yield %>

</body>
</html>
